<h1 class="text-center">{{pageTitle}}</h1>
<app-loading *ngIf="loading"></app-loading>
  <div class="input-group">
      <span class="input-group-addon">
          <i >Search</i>
      </span>
      <input class="form-control" type="text" name="search" [(ngModel)]="filter" > 
  </div>
<!-- User listing -->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
        <th>Sr.No.</th>
        <th (click)="sort('name')">Users
            <span class="glyphicon sort-icon" *ngIf="key =='name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
             </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of eventList | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
