<h1 class="text-center">{{pageTitle}}</h1>
<app-loading *ngIf="loading"></app-loading>

<ng-template [ngIf]="utils.isLoaded(loading)">
   <ng-template [ngIf]="userList">
      <ng-template [ngIf]="userList.length">

      	 <section class="list-group">
        <a
          *ngFor="let item of userList"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" [innerHTML]="item.user[0]"></h5>
          </div>
        </a>
      </section>
      </ng-template>

      <!-- No upcoming public events available -->
    <p *ngIf="!userList.length" class="alert alert-info">
      No events have been created by user.
    </p>

 </ng-template>
  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving event data.
  </p>

</ng-template>


